.head .row{
    color: white;
    height: 90vh;
}
.head .row h1{
    font-size: 67px;
    margin: 20px 0;
    line-height: 70px;
}
.join{
    color: black;
    background:#FCD842;
    font-size: 20px;
    font-weight: 600;
    border:none;
    border-radius: 2px;
    outline:none !important;
    padding: 10px 40px;
    text-transform: uppercase;
}
.info-cards .holder{
    height: 380px;
    transition: 0.3s;
}
.info-cards .holder:hover{
    transform: scale(1.05);
}
.info-cards main{
    padding-top: 50px;
    border-radius: 3px;
    color: white;
    text-align: center;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.info-cards .Icon1{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../Resources/Image&Icon/hipcravo-5UbIqV58CW8-unsplash.jpg');
}
.info-cards .Icon2{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../Resources/Image&Icon/daniel-apodaca-WdoQio6HPVA-unsplash.jpg');
}
.info-cards .Icon3{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../Resources/Image&Icon/penguinuhh-8VI6WwEEEHw-unsplash.jpg');
}
.about-us .about-1{
    color:#F4F4F5;
    font-size: 60px;
    font-weight: 700;
}
.about-us .about-2{
    color:#FCD842;
    font-size: 40px;
    font-weight: 700;
}
.about-us .about-3{
    font-size: 40px;
    font-weight: 700;
}
.trainings .title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.trainings .title span{
    color: #FCD842;
}
.trainings .card-img{
    width: 100%;
    height: 400px;
}
.trainings .training-tag{
    position: absolute;
    bottom: 10%;
    background:#FCD842;
    width: 60%;
    font-weight: 700;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.trainings .see-more:hover{
    color: #FCD842;
    text-decoration: underline;
    cursor: pointer;
}